@import '../../assets/baseStyles.scss';

.overlay {
  @include for-size(tablet) {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  opacity: 1;

  transition: opacity $cubic;
  background-color: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(tablet-only) {
    height: 100%;
    width: 320px;
  }

  border-radius: 4px;

  background-color: $primary-bg-color;

  transition: transform $cubic;
}

.closeModal {
  width: 12px;
  height: 7px;
  margin: 0;
  border: none;
  outline: none;
  background-color: white;
}
