@import '../../assets/baseStyles.scss';

.boxBtn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

.openModal {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;

  color: white;
  @include font(700, 20px, 17px, $primary-font, $primary-letter-spacing);

  background: #fc842d;
  /* orange */

  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  cursor: pointer;
  @include for-size(tablet) {
    display: none;
  }
}
