@import '../../assets/baseStyles.scss';

.diary__date {
  position: relative;
}

.diary__lableDate {
  // position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
}

.diary__iconDate {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 256px;
  bottom: 3px;
  cursor: pointer;

  @include for-size(tablet-only) {
    top: 1px;
    left: 153px;
  }
}
