@import '../../baseStyles.scss';

.diary__lableDate {
  position: relative;
}

.diary__iconDate {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 241px;
  bottom: 3px;

  @include for-size(mobile-only) {
    left: 138px;
  }
}
