@import '../../assets/baseStyles.scss';

.logowrapper {
  transition: 500ms;

  &:hover {
    transform: scale(1.1);
  }
  @include flexbox;
  @include for-size(desktop) {
    position: relative;
  }
}

.logoImage {
  @include for-size(tablet) {
    width: 46px;
    height: 44px;
  }

  @include for-size(desktop) {
    width: 66px;
    height: 70px;
    position: absolute;
    left: 0;
    top: -40px;
  }
}

.logoTextNotAuth {
  display: none;
  @include for-size(tablet) {
    display: block;
  }
  @include for-size(desktop) {
    margin: 0 22px 0 48px;
  }
}

.logoTextAuth {
  @include for-size(tablet) {
    display: block;
  }
  @include for-size(desktop) {
    margin: 0 22px 0 48px;
  }
}
