.burgerMenu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: auto;
}
.blur{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: auto;
}
