@import '../../assets/baseStyles.scss';

.diary__item {
  display: flex;
  margin-bottom: 15px;
  list-style: none;
  &:last-child {
    margin-bottom: 0;
  }

  @include for-size(tablet-only) {
    margin-bottom: 20px;
    padding-left: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.diary__itemNameProduct {
  width: 242px;
  height: 36px;
  margin: 0;
  margin-right: 30px;
  padding-bottom: 19px;
  border: none;
  border-bottom: 1px solid #e0e0e0;

  outline: none;

  color: primary-text-color;
  vertical-align: top;

  @include font(400, 14px, 17px, $primary-font, $primary-letter-spacing);

  @include for-size(tablet-only) {
    width: 138px;
    height: 26px;
    margin-right: 9px;
    padding-bottom: 10px;
  }
}

.diary__itemVolumProduct {
  width: 106px;
  height: 36px;
  margin: 0;
  margin-right: 30px;
  padding-bottom: 19px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;

  color: primary-text-color;
  text-align: right;

  @include font(400, 14px, 17px, $primary-font, $primary-letter-spacing);

  @include for-size(tablet-only) {
    width: 50px;
    height: 26px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
}

.diary__itemCcalProduct {
  width: 106px;
  height: 36px;
  margin: 0;
  margin-right: 30px;
  padding-bottom: 19px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;

  color: primary-text-color;
  text-align: right;

  @include font(400, 14px, 17px, $primary-font, $primary-letter-spacing);

  @include for-size(tablet-only) {
    width: 60px;
    height: 26px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
}

.diary__btnDelProduct {
  padding: 0;
  height: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
