@import '../../assets/baseStyles.scss';

.registration {
  max-height: 100vh;
  height: 100%;
}

.title {
  @include font(700, 14px, 0.95, $secondary-font);
  color: $accent-color;
  text-transform: uppercase;
  margin: 0 0 70px 0;
}

.form {
  @include flexbox();
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 10px;
  z-index: 1;
  @include for-size(tablet) {
    display: block;
    width: 400px;
    margin-top: 190px;
    margin-left: 90px;
  }
  @include for-size(desktop) {
    margin-top: 210px;
    margin-left: 115px;
  }
}

.input__form {
  position: relative;
  width: 240px;
  height: 45px;
  margin-bottom: 40px;
}

.label {
  @include font(700, 14px, 1.21);
  color: $secondary-text-color;
  margin: 0;
}

.label__error {
  @include font(700, 14px, 1.21);
  color: rgb(184, 0, 0);
  margin: 0;
}

.input {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background: transparent;
  @include font(400, 12px, 1.41);
  outline: transparent;
}

.input__error {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0 0 40px 0;
  border: none;
  border-bottom: 1px solid rgb(184, 0, 0);
  background: transparent;
  @include font(400, 12px, 1.41);
  outline: transparent;
}

.notification {
  position: absolute;
  bottom: -30%;
  left: 0;
  margin: 0;
  width: 150px;
  @include font(400, 10px, 1.16);
  color: rgb(184, 0, 0);
}

.buttons {
  @include flexbox();
  flex-direction: column;
  @include for-size(tablet) {
    @include flexbox(start, start);
    flex-direction: row;
    margin-top: 60px;
  }
}

.btn__login {
  @include flexbox();
  width: 176px;
  margin-bottom: 20px;
  background-color: $accent-color;
  color: $accent-text-color;
  padding: 13px 0;
  @include font(700, 14px, 1.21);
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  @include for-size(tablet) {
    margin: 0 30px 0 0;
  }
}

.btn__register {
  @include flexbox();
  width: 176px;
  background-color: $primary-bg-color;
  color: $accent-color;
  padding: 13px 0;
  @include font(700, 14px, 1.21);
  border: 2px solid $accent-color;
  cursor: pointer;
  border-radius: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:disabled {
    &:hover {
      opacity: 0.4;
      border: 2px solid $accent-color;
      box-shadow: none;
    }
    opacity: 0.4;
  }

  &:hover {
    opacity: 1;
    border: 2px solid transparent;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  }
}
